# Cut a release whenever a new tag is pushed to the repo.
# ref: https://github.com/bazel-contrib/rules-template/blob/main/.github/workflows/release.yaml
name: Release
on:
  push:
    tags:
      - "v*.*.*"
permissions:
  id-token: write
  attestations: write
  contents: write
jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.2
    with:
      release_files: rules_uniffi-*.tar.gz
      prerelease: false
      tag_name: ${{ inputs.tag_name || github.ref_name }}
